---
const res = await fetch('https://ferfalcon.me/wp-json/wp/v2/posts/');
const posts = await res.json();
---
<html>
  <head>
    <title>WordPress + Astro</title>
  </head>
  <body>
    <h1>Astro + WordPress 🚀</h1>
    {
        posts.map((post :any) => (
            <h2 set:html={post.title.rendered} />
            <p set:html={post.content.rendered} />
        ))
    }
    <script>
    </script>
  </body>
</html>
